<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content" class="container mt-4">
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p th:text="${error}">An error occurred.</p>
        </div>
        <button class="btn btn-primary" onclick="history.back()">
            <i class="fas fa-arrow-left"></i> Back
        </button>
    </div>
</body>
</html>
